[package]
name = "user"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
candid = { workspace = true }
getrandom = { version = "0.2", features = ["js"] }
ic-cdk = { workspace = true }
ic-cdk-macros = { workspace = true }
rand = { workspace = true }
